/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgb(220, 20, 60,0.6);
  -webkit-text-size-adjust:none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  background: #fff;
  color: #4a5568;
  font-size: 62.5%;
  font-variant-ligatures: normal;
  font-kerning: normal;
  overflow-x: hidden;
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;    
}

p, span, a, div, input {
  font-family: inherit;
  font-size: 16px;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4 {
  font-family: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
}

main {
  width: 100%;
  margin: 2rem 0;
}
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
