
.cl-btn-7 {
    border-radius: 40px;
    position: relative;
    z-index: 1;
    margin: 20px auto;
    cursor: pointer;
    color: black;
  }
  .cl-btn-7:before {
    content: '+';
    color: white;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -30px;
    left: 400px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  }
  .cl-btn-7:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: white;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
  }
  .cl-btn-7:hover:after {
    transform: scale(1);
  }
  .cl-btn-7:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: aqua;
  }
.popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    overflow: auto;
}
.popup-content{
    padding: 20px;
    background-color: black;
    color: aqua;
    margin: 20px;
    margin-top: 25%;
    margin-left: 60%;
    margin-right: 15%;
}