

<app-header (onShowSideBar)="hideSideBarFromHeader()" (onShowLogin)="ShowLogin()"
 (onShowRegistration)="ShowRegistration()" [isShowComponent] = "isShowHeader"
  [isLoginUser] = "isShowBasketaAndLogoutButton" [isShowCategories]="isShowCategories" 
  [isShowLegobyCategory]="isShowLegoByCategory" (OnClickBuy)="ClickBuy()"
  [isShowTrendsLego]="isShowTrendsLego" [legoForTernds]="LegoByFavorite" (OnBasketEvent)="ShowBasket()"></app-header>
<app-side-bar [isShowSideBar]="isShowSideBar" 
(HomeClickEvent)="OnHomeClick()" 
(TrendClickEvent)="OnTrendClick()" ></app-side-bar>

<!--------------------------------------- test ------------------------------------------------------>

<app-register-form [isShowComponent] = "isShowRegistration" (onClose)="CloseRegistration()"></app-register-form>
<app-login-form  [isShowComponent] = "isShowLogin" (onClose)="CloseLogin()" (onLogin)="onLogin()"></app-login-form>  

<app-basket 
[isShowComponent]="isShowBasket" 
(CloseBasket)="CloseBasket()" 
[ItemsInBasket]="ItemForAddedInBasker"
(OnDeleteItemFromBasket)="DeleteItemFromBasket($event)"
(onContinueShopping)="ContinueShopping()"
(onMakeOrder)="MakeOrder()"
[TotalPrice]="TotalPriceInBasket"
></app-basket>