@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
.block{

  width: 100%;
  height: 100%;
  background: #4a5568;
}
.center {
  position: absolute;
  top: 10%;
  overflow: hidden;
  width: 30%;
  border: 1px solid #000;
  position: relative;
  padding: 50px 50px 50px 50px;
  background: #fff;
  border-radius: 20px;
  margin: auto;
}
.center h1 {
  font-size: 2em;
  padding: 10px;
  color: #4a5568;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}
.center .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
}
.center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #4a5568;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.center .inputbox [type="button"] {
  width: 50%;
  background: #4a5568;
  color: #fff;
  border: #fff;
}
.center .inputbox:hover [type="button"] {
  background: linear-gradient(90deg, rgba(74,85,104,1) 0%, rgba(0,0,0,1) 100%);
}
