<div class="center">
    <h1>Registration:</h1>
    <form>
      <div class="inputbox">
        <input type="text" required="required">
        <span>Nick name</span>
      </div>
      <div class="inputbox">
        <input type="text" required="required">
        <span>Email</span>
      </div>
      <div class="inputbox">
        <input type="text" required="required">
        <span>Password</span>
      </div>
      <div class="inputbox">
        <input type="text" required="required">
        <span>Confirm password</span>
      </div>
      <div class="inputbox">
        <input type="button" value="register">
      </div>
    </form>
  </div>
