
.block{
    width: 100%;
    height: 100%;
    background-color: #4a5568;
  }

  .center {
    position: absolute;
    top: 10%;
    overflow: hidden;
    width: 50%;
    border: 1px solid #000;
    position: relative;
    padding: 30px 30px 30px 30px;
    background: #fff;
    border-radius: 20px;
    margin: auto;
  }

  .cl-btn-7 {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: relative;
    z-index: 1;
    margin: 20px auto;
    cursor: pointer;
  }
  .cl-btn-7:before {
    content: '+';
    color: #4a5568;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -100px;
    left: 195px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  }
  .cl-btn-7:after {
    content: '';
    position: absolute;
    top: -95px;
    left: 190px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #4a5568;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
  }
  .cl-btn-7:hover:after {
    transform: scale(1);
  }
  .cl-btn-7:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: #fff;
  }

  .list{
    list-style: none;
  }
  .basketsItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 30px;

    font-size: 20px;
  }
  .PriceAndNameBlock{
    padding: 10px;
    justify-content: space-around;
  }

  
  
  button{
    cursor: pointer;
    width: 270px;
    height: 70px;
    outline: none;
    border: none;
    background-color:#4a5568;
    color: #fffeff;
    font-size: 1.5rem;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 2rem;
    font-weight: 700;
    transition: .3s cubic-bezier(0.18, 0.89,0.32,1.28);
    position: relative;
}

button span.icon{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    left: 50px;
    top: 15px;
    transition: .5s ease-in-out;
}

button span.text{
    position: absolute;
    right: 40px;
    top: 22px;
    transform-origin: top right;
    transition: .3s .2s ease-in-out;
}

.top{
    width: 30px;
    height: 5px;
    background-color: #fffeff;
    border-radius: 5px;
    position: relative;
    transform-origin: bottom left;
    transition: .5s ease-in-out;
}


.top::after{
    content: "";
    display: block;
    position: absolute;
    background-color: #fffeff;
    width: 15px;
    height: 2px;
    border: 2px solid #fffeff;
    border-radius: 5px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bottom{
    margin-top: 3px;
    width: 30px;
    border-top: 30px solid #fffeff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: relative;
    transform-origin: top left;
    transition: .5s cubic-bezier(0.18, 0.89,0.32,1.28);
}

button:hover .top{
    transform: rotateZ(-25deg) ;
}
button:hover .text{
    transform: rotateZ(-15deg) scale(0.5) translate(-120px,-50px);
}

button:hover .icon{
    transform: translate(70px,30px) scale(2.5);
}

button:focus .top{
    transform: rotateZ(0deg) ;
}

button:focus .icon{
    transform: translate(70px,0px) scale(1);
}

button:focus .text{
    transform: rotateZ(-2deg) scale(0.3) translate(-270px,10px);
}

.BasketIsEmpty{
  height: 500px;
}

.Message{
  text-align: center;
  font-size: 24px;
  margin-top: 10%;
  margin-left: 10%;
}

.MessButton{
  margin-top: 20%;
  margin-left: 37%;
}

.OrderBtn{
  margin-left: 37%;
}

.totalPrice{
  margin-left: 65%;
  font-size: 30px;
  margin-top: 5%;
  margin-bottom: 5%;
}