<div class="body-wrapper row">

    <div class="content-wrapper">
        
        <header class="top-header">

                <div class="menu-btn toggle-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve"><g><g><path d="M4.667,82.982H95v-6.018H4.667V82.982z M4.667,52.895H95v-6.018H4.667V52.895z M4.667,19.798v6.018H95v-6.018H4.667z"/></g></g></svg>
                </div>

                <nav class="navbar-top">
                    
                    <ul>
                        <!----
                        <li>
                            <form>
                                <input type="search" name="" placeholder="Search for games">
                            </form>
                        </li>
                        ---->
                        <li><a href="#" class="sp-btn">Log in</a></li>
                        <li><a href="#">Sign up</a></li>

                    </ul>

                </nav>
        </header>

        <header class="hero-slider">
                    
            <h1></h1>
        
        </header>
    </div>

</div>
