<div class="body-wrapper row" [hidden]="!isShowComponent">
    <div [ngClass]="{'active': isShowSideBar}" class="content-wrapper">        
        <header [ngClass]="{ 'active': isShowSideBar}" class="top-header">
                <div class="menu-btn toggle-btn" (click)="ShowSideBar()">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                    version="1.1" x="0px" y="0px" viewBox="0 0 100 125" 
                    enable-background="new 0 0 100 100" 
                    xml:space="preserve"><g><g>
                        <path d="M4.667,82.982H95v-6.018H4.667V82.982z M4.667,52.895H95v-6.018H4.667V52.895z M4.667,19.798v6.018H95v-6.018H4.667z"/>
                    </g></g></svg>
                </div>
                <nav class="navbar-top">
                    <ul>
                        <!----
                        <li>
                            <form>
                                <input type="search" name="" placeholder="Search for games">
                            </form>
                        </li>
                        ---->
                        <li ><p class="nick" [hidden]="isLoginUser">Name : {{_userStorage.getUser().NickName}}</p></li> 
                        <li><button class="sp-btn" (click)="ShowLogin()" [hidden]="!isLoginUser">Log in</button></li>
                        <li><button class="sp-btn-white" (click)="ShowRegistration()" [hidden]="!isLoginUser">Sign up</button></li>
                        <li><button class="sp-btn" [hidden]="isLoginUser" (click)="Logout()">Logout</button></li>
                        <li><button class="sp-btn-white" [hidden]="isLoginUser">Basket</button></li>

                    </ul>
                </nav>
        </header>
        <header class="hero-slider">
                    
            <h1></h1>
        
        </header>

        
        <div>
            <app-categories (onChooseCategory)="ChooseCategory($event)" [isShowCategories]="isShowCategories" ></app-categories>
            <app-lego-by-category [Lego]="LegoByCategory" [Category]="UserChooseCategory" 
            [isShowLegoByCategory]="isShowLegobyCategory" ></app-lego-by-category>
            <app-trendlego [isShowTrendLego]="isShowTrendsLego" [Lego]="legoForTernds"></app-trendlego>
        </div>


    </div>

</div>


